@import url('http://fonts.cdnfonts.com/css/cascadia-mono');
$bg: #2e2e2e;
$fg: #f7931e;
body {
	margin: 0;
	padding: 0;
	background-color: $bg;
	color: $fg;
}

div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

img {
	width: 250px;
	height: 250px;
	margin: 25px auto auto auto;
	border-radius: 50%;
}

h1,
h3,
p {
	font-family: 'Cascadia Mono', monospace;
}

a {
	text-decoration: none;
	color: $fg;
	font-family: 'Cascadia Mono';
	font-weight: 700;
	text-decoration: underline;
}
